.cnt {
    margin-top: 60px;
}

.btnn{
    background-color: #cecece;
    border-radius: 30px;
}

input{
    border-radius: 10px;
}

.cnt{
    border-radius: 15px;
}

.rslt{
margin: 20px;
}

